/*======= VARIABLES CSS =======*/
:root {
    --header-height: 3rem;

    /* Colors */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;

    /* Fonts and Typography */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h1-font-size-b: 2.2rem;
    --h1-font-size-c: 2rem;
    --h2-font-size: 1.25rem;
    --h2-font-size-b: 1.35rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.940rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.812rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*==================================== MEDIA QUERY - For Bigger Screens ( >= 1600px ) */
@media screen and (min-device-width: 1600px) {
    .resume {
        width: 1600px;
    }

    .footer { /* 24" Screen */
        visibility: visible;
        text-align: center;
        margin-top: 15rem;
        margin-bottom: 1.5rem;
        font-size: large;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 95%;
    }

    #certificate-popup {
        margin-right: 0.7rem;
        text-align: left;
        color: var(--text-color);
    }
}

/* Media Query for Smartphone Portrait and Landscape */

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .dropbtn {
        display: flex;
        text-align: center;
        margin-left: 3rem;
        margin-top: 1rem;
        width: 95%;
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        padding-left: 2.7rem;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 95%;
    }

    .dropdown-content {
        position: absolute;
        background-color: var(--container-color-alt);
        border-radius: 10px;
        width: 80%;
        margin-top: 1rem;
        margin-left: 3rem;
        padding: 10px;
        overflow: auto;
        box-shadow: 10px 12px 9px rgba(0, 0, 0, 0.21);
        width: 95%;
    }

    #certificate-popup {
        margin-right: 0.7rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 2rem;
        font-size: xx-large;
        font-weight: bold;
        color: var(--text-color);
    }

    .recognition.section {
        padding-bottom: 0;
        margin-top: 1rem;
    }

    .education__content {
        display: inline;
        right: 0;
    }

    .education__title {
        font-size: var(--normal-font-size);
        font-weight: bold;
        width: 100%;
    }

    .education__studies {
        font-size: var(--normal-font-size);
    }

    .education__year {
        font-size: var(--normal-font-size);
    }

    .experience__title {
        font-size: var(--normal-font-size);
        font-weight: bold;
        width: 100%;
    }

    .experience__company {
        font-size: var(--normal-font-size);
        font-weight: bold;
        width: 100%;
    }

    .experience__description {
        font-size: var(--normal-font-size);
        font-weight: normal;
        width: 100%;
    }

    #highlights-last {   /* For arrow toggle visual after bottom */
        margin-bottom: -3rem;
    }

    .home__address {
        gap: 2rem;
    }
}



